# Narrative Prompt Testing

In [1]:
import dill
import copy
import generation
from generation import reset_to_stage, generate_narrative_plan, generate_narrative
from llm_utils import GenerationContext

with open('test_examples.pkl', 'rb') as f:
    all_people = dill.load(f)

In [2]:
# List test people
for i, p in enumerate(all_people):
    loc = p.location.country if p.location else p.region
    name = (p.name or "(unnamed)")[:25]
    print(f"{i:2d}. {name:25s} | {p.birth_year_str:10s} | age {str(p.age_at_death):5s} | {loc}")

 0. Anna                      | 629 AD     | age 5     | Italy
 1. Baska                     | 194 AD     | age 40    | India
 2. Rudra                     | 887 AD     | age 84    | India
 3. Ayyadurai                 | 1637 AD    | age 51    | India
 4. Bhagavati                 | 924 AD     | age 28    | India
 5. Rosa María Martínez       | 1747 AD    | age 79    | Colombia
 6. (unnamed)                 | 1885 AD    | age 0     | Nigeria
 7. Lataa                     | 1631 AD    | age 50    | Ethiopia
 8. Refilwe Matlou            | 2020 AD    | age alive | South Africa
 9. Ghanshyam Vora            | 1896 AD    | age 5     | India
10. Govinda                   | 1561 AD    | age 1     | India
11. Mira                      | 302 AD     | age 41    | Brazil
12. Kʷàna                    | 1647 BC    | age 0     | Mexico
13. Shlomit                   | 366 BC     | age 1     | Kuwait
14. Buru                      | 925 BC     | age 52    | India
15. Padmavati                 | 890 AD     | age 7     | India
16. Perkʷnā                   | 2184 BC    | age 0     | North Macedonia
17. Nimasa                    | 1967 BC    | age 19    | United States
18. Tifirit                   | 824 BC     | age 0     | Morocco
19. Ntxawm Paj                | 1653 AD    | age 58    | China
20. Leubawinjō                | 2 AD       | age 0     | Poland
21. 高顺民                       | 1108 AD    | age 51    | China
22. 何明生                       | 1879 AD    | age 16    | China
23. Mykola Ivanovych Shevchuk | 1954 AD    | age 67    | Ukraine
24. Nikandros                 | 50 AD      | age 0     | Turkey
25. Panyana                   | 1699 AD    | age 0     | Sudan
26. Kanyama                   | 794 AD     | age 19    | Angola
27. Daphne Williams           | 1976 AD    | age alive | Jamaica
28. 胡佳                        | 1987 AD    | age alive | China
29. Md. Sohel Rana            | 2012 AD    | age alive | India
30. Kaeo                      | 1562 AD    | age 20    | Myanmar
31. Amina bint Yusuf          | 1282 AD    | age 2     | Spain
32. Hamida                    | 1889 AD    | age 0     | Egypt
33. Talun                     | 6008 BC    | age 0     | Egypt
34. Nubia Stella Cárdenas Osp | 1927 AD    | age 83    | Colombia
35. Ashen Perera              | 2001 AD    | age alive | Sri Lanka
36. Guyrá                     | 193 AD     | age 0     | Brazil
37. Okechukwu                 | 1778 AD    | age 49    | Nigeria
38. Ka                        | 1121 AD    | age 30    | Ecuador
39. (unnamed)                 | 1184 AD    | age 0     | India

In [3]:
for person in all_people[:10]:
    reset_to_stage(person, 'narrative')
    ctx = GenerationContext(model='gpt-5.2', quiet=True, show_cost=True)
    generate_narrative_plan(person, ctx)
    generate_narrative(person, ctx)
    ctx.finish()

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 21,337
  Cached: 10,624 (49.8%)
Output tokens: 1,836
Total cost: $0.0331
Avg per request: 10668 in, 918 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 25,264
  Cached: 12,672 (50.2%)
Output tokens: 3,420
Total cost: $0.0515
Avg per request: 12632 in, 1710 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 31,467
  Cached: 16,128 (51.3%)
Output tokens: 4,371
Total cost: $0.0649
Avg per request: 15734 in, 2186 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 27,482
  Cached: 24,832 (90.4%)
Output tokens: 3,922
Total cost: $0.0456
Avg per request: 13741 in, 1961 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 30,383
  Cached: 15,360 (50.6%)
Output tokens: 3,856
Total cost: $0.0593
Avg per request: 15192 in, 1928 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 27,123
Output tokens: 3,868
Total cost: $0.0726
Avg per request: 13562 in, 1934 out

=== Cost Summary: gpt-5.2 ===
Requests: 1
Input tokens: 5,594
Output tokens: 270
Total cost: $0.0097
Avg per request: 5594 in, 270 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 26,514
  Cached: 11,904 (44.9%)
Output tokens: 3,307
Total cost: $0.0528
Avg per request: 13257 in, 1654 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 20,448
  Cached: 9,984 (48.8%)
Output tokens: 1,563
Total cost: $0.0300
Avg per request: 10224 in, 782 out

=== Cost Summary: gpt-5.2 ===
Requests: 2
Input tokens: 20,931
  Cached: 10,112 (48.3%)
Output tokens: 1,257
Total cost: $0.0274
Avg per request: 10466 in, 628 out

In [4]:
with open('test_examples_3.pkl', 'wb') as f:
    dill.dump(all_people,f)

In [5]:
%run export.py test_examples_3.pkl

Loading people from test_examples_3.pkl...
Found 40 people
Removing existing markdown files from ../_lives...
  Removed 40 files
  Exported 10 people...
  Exported 20 people...
  Exported 30 people...
  Exported 40 people...

Successfully exported 40 people to ../_lives